<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>布斯计算</title>
    <link rel = "stylesheet" href = "../static/style/style.css"/>
</head>
<body>
    <div class = "box">
        <input class = "i_x input_s i_1"/>
        <input class = "i_y input_s i_2"/>
        <input class = "i_z input_s i_4"/>
        <input class = "i_count input_s i_3"/>
        <div class = "value" contenteditable="true" id="valueText" style = "border: solid 1px #FA0"></div>
        <div class = "d_a d d_1">A</div>
        <div class = "d_b d d_2">B</div>
        <div class = "d_notb d d_3">/B</div>
        <div class = "d_c d d_4">C</div>
        <div class = "d_shift d d_5"></div>
        <div class = "d_alu d d_6"></div>
        <div class = "d_a_alu d d_7"></div>
        <div class = "d_b_alu d d_8"></div>
        <div class = "d_notb_alu d d_9"></div>
        <div class = "d_in_a d d_10"></div>
        <div class = "d_in_b d d_11"></div>
        <div class = "xny" id = "xny">${content}</div>
        <input class = "i_in input_s i_4"/>
        <select class = "o_in_a o o_1">
            <option value ="0">0</option>
            <option value ="1">1</option>
        </select>
        <select class = "o_in_b o o_2">
            <option value ="0">0</option>
            <option value ="1">1</option>
        </select>
        <select class = "o_a_alu o o_3">
            <option value ="0">0</option>
            <option value ="1">1</option>
        </select>
        <select class = "o_b_alu o o_4">
            <option value ="0">0</option>
            <option value ="1">1</option>
        </select>
        <select class = "o_notb_alu o o_5">
            <option value ="0">0</option>
            <option value ="1">1</option>
        </select>
        <select class = "o_alu_add1 o o_6">
            <option value ="0">0</option>
            <option value ="1">1</option>
        </select>
        <select class = "o_cnt_sub1 o o_7">
            <option value ="0">0</option>
            <option value ="1">1</option>
        </select>
        <select class = "o_in_c o o_8">
            <option value ="0">0</option>
            <option value ="1">1</option>
        </select>
        <select class = "o_alu_half o o_9">
            <option value ="0">0</option>
            <option value ="1">1</option>
        </select>
        <select class = "o_alu_init o o_10">
            <option value ="0">0</option>
            <option value ="1">1</option>
        </select>
        <select class = "o_2_alu o o_11">
            <option value ="0">0</option>
            <option value ="1">1</option>
        </select>
        <select class = "o_c_half o o_12">
            <option value ="0">0</option>
            <option value ="1">1</option>
        </select>
        <select class = "o_c o o_13">
            <option value ="0">0</option>
            <option value ="1">1</option>
        </select>
        <select class = "o_2c o o_14">
            <option value ="0">0</option>
            <option value ="1">1</option>
        </select>
        <select class = "o_s_a o o_15">
            <option value ="0">0</option>
            <option value ="1">1</option>
        </select>
        <div class = "btn">
            <button class = "b b_1">复位</button>
            <button class = "b b_2">继续</button>
            <br/>
            <button class = "b b_3">提交</button>
            <button class = "b b_4">退出</button>
        </div>
        <div class = "time">
            00:00
        </div>
    </div>
</body>
<script src="../static/js/jquery-3.1.1.min.js"></script>
<script src = "../static/js/index.js"></script>
</html>